.flex_container{
  display: flex;
  height: 80vh;
  max-height: 1200px;
}

.flex_container>div{
  width: 100%;
  height: 100%;
}

.flex_container>div:nth-child(1){
  width: 250px;
}

.myTasks{
  background-color: whitesmoke;
  max-height: 1500px;
  width:100%;
  overflow: auto;
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0,0,105,1);
  overflow-x: hidden;
}

.checkboxesTasks{
  display: flex;
  flex-direction: column;
}

.checkboxesTasks>input:hover{
  cursor: pointer;
}
